
* {
    background-color: #FF00FF;
    font-family: Source Code Pro;
}

h1 {
    text-align: center;
    color: #00FF00;
    font-size: 80px;
    
}

h2 {
    text-align: center;
    color: #800080;
    font-size: 60px;
}

table {
    border: 3px solid blue;
    margin: 0 auto;
    font-size: 25px;
    
}

td {
    border-top: 1px solid blue;
    
}

th {
   color: #00FF00;
   background-color: #0033FF;
}

.menosmas , .masmenos {
    background-color: aqua;
}
